<p>
  <strong>イベント名</strong>
  <%= @event.event_name %>
</p>
<p>
  <strong>開始日時</strong>
  <%= @event.start_date %>
</p>
<p>
  <strong>終了日時</strong>
  <%= @event.end_date %>
</p>
<p>
  <strong>場所</strong>
  <%= @event.venue %>
</p>

<h2>参加者</h2>
<% @event.attends.each do |attend| %>
  <p>
    <strong>ユーザ名</strong>
    <%= attend.user.username %>
  </p>
  <p>
    <strong>出欠</strong>
    <%= attend.attend_type %>
  </p>

  <p>
    <strong>コメント</strong>
    <%= attend.comment %>
  </p>
<% end %>

<h2>出欠登録</h2>
<%= form_for([@event, @event.attends.build]) do |f| %>
  <p>
    <%= f.label :attend %>
    <%= f.select :attend_type, [["出席", "attend"], ["欠席", "cancel"]] %>
  </p>
  <p>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', events_path %> | <%= link_to 'Edit', edit_event_path(@event) %>

