<p>
  <strong>イベント名</strong>
  <%= @event.event_name %>
</p>
<p>
  <strong>開始日時</strong>
  <%= @event.start_date %>
</p>
<p>
  <strong>終了日時</strong>
  <%= @event.end_date %>
</p>
<p>
  <strong>場所</strong>
  <%= @event.venue %>
</p>

<h2>参加者</h2>
<%= render @event.attends %>

<h2>出欠登録</h2>
<%= render "attends/form" %>


<%= link_to 'Back', events_path %> | <%= link_to 'Edit', edit_event_path(@event) %>

